<a id="logo" href="{{ .Site.BaseURL }}" style="text-decoration: none;">
    <div style="text-align:center;padding:20px 10px;">
        <h2 style="
            color:white;
            margin:0;
            font-size:28px;
            font-weight:700;
            letter-spacing:1px;
            font-family:Arial, Helvetica, sans-serif;">
            AWS_WorkLog
        </h2>

        <p style="
            color:#FF9900;
            margin-top:5px;
            font-size:12px;
            letter-spacing:2px;">
            Internship Report
        </p>
    </div>
</a>